<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/facreqview.css">
  
<div class="table-responsive">
    <table id="myTable" cellspacing="0" width="100%" class="display table table-striped", style="background-color:white;"> 
      <thead>
        <tr>
        <% @course.questions.each do |question| %>
        <th> <%= question.question_text %> </th>
        <% end %>
        </tr>
      </thead>
      <tbody>
        <% @course.course_requests.each do |request| %>
        <tr>
          <% request.answers.each do |answer| %>
          <td><%= answer.answer_text %></td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
  </table>
</div>


