<main class = "box">
    <img class="hero" src = "assets/chalkboard-fd0adb171720584875a8f42e513517eed5755455671b633b543414ab68b32628.jpg" alt="chalkboard" />
    <h2 class = "text"> Our new website is </h2>
    <h1 class = "text"> Coming Soon! </h1>
    <p class = "text"> To change your course permission number experience! </p>
</main>

<footer class = "box" id = 'foot'>
    <h2 class = "text" id = 'foot'> Contact our Code+ Team with suggestion and updates: <a href= "mailto:vkp3@duke.edu"> Email </a> </h2>
</footer>
