<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="A website for requesting and granting permission numbers">
        <meta name="keywords" content="permission, number, Duke, University, students, faculty, courses, registration">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Coming Soon </title> 
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css"/>
    </head>

    <body>
        <main>
        <img class="hero" src= "background.jpg" alt="chapel" /> 
            <h2> Our new website is </h2>
            <h1> Coming Soon!!- </h1>
            <p> A way for students to get their permission numbers and for faculty to organize and assign permission numbers! </p>
        </main>
        
        <footer>
            <h2> Contact our Code+ Team with suggestion and updates: </h2>
            <h2><a href= "mailto:vkp3@duke.edu"> Email </a></h2>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Duke_University_logo.svg/512px-Duke_University_logo.svg.png">
        </footer>
    </body>

</html>
