<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h1>Active Requests</h1>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h1>Active Requests</h1>
      </div>
    </div>
  </div>