
<style>


canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

</style>
<div class="container">
  <div class="row">
    <div class="col">
<p><button onclick="startGame()"> Start Game</button></p>

<div class="title" id="thankYouBanner">

</div> 
<div id ="container">

</div> 
</div> 
</div> 
</div> 
<script>

  var myGamePiece;
  //var myBackground;
  var target;
  var W = window.innerWidth - 500;
  var H = window.innerHeight - 200;
  var particles = [];

  function startGame() {
      myGameArea.start();
      myGamePiece = new component(30, 30, "red", 0, 30);
      target = new component(30, 30, "blue", 350, 190);
  }

  var myGameArea = {
      canvas : document.createElement("canvas"),
      start : function() {
        this.canvas.width = W;
          this.canvas.height = H;

          this.context = this.canvas.getContext("2d");
          var ctx = this.canvas.getContext("2d");
          div = document.getElementById('container');
          div.append(this.canvas);
          this.interval = setInterval(updateGameArea, 20);
          window.addEventListener('keydown', function (e) {
              myGameArea.key = e.keyCode;
          })
          window.addEventListener('keyup', function (e) {
              myGameArea.key = false;
          })
      },
      clear : function(){
          this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
      },
      stop : function () {
        clearInterval(this.interval);
        myGamePiece.x = target.x
        myGamePiece.y = target.y
      }
  }

  function component(width, height, color, x, y) {
      this.gamearea = myGameArea;
      this.width = width;
      this.height = height;
      this.speedX = 0;
      this.speedY = 0;
      this.x = x;
      this.y = y;
      this.update = function() {
          ctx = myGameArea.context;
          ctx.fillStyle = color;
          ctx.fillRect(this.x, this.y, this.width, this.height);
      }
      this.newPos = function() {
          this.x += this.speedX;
          this.y += this.speedY;

      }
  }

  function updateGameArea() {
      myGameArea.clear();

      myGamePiece.speedX = 0;
      myGamePiece.speedY = 0;
      if (myGameArea.key && myGameArea.key == 37) {
        myGamePiece.speedX = -1;
        console.log(myGamePiece.x, target.x)
        if (myGamePiece.x == target.x && myGamePiece.y == target.y) {
            setInterval(draw, 20);
            myGameArea.stop()
        } ;
      }
      if (myGameArea.key && myGameArea.key == 39) {
        console.log(myGamePiece.x, target.x)
        myGamePiece.speedX = 1;
        if (myGamePiece.x == target.x && myGamePiece.y == target.y) {
            setInterval(draw, 20);
            myGameArea.stop()
        } ;
    }
      if (myGameArea.key && myGameArea.key == 38) {
        console.log(myGamePiece.x, target.x)
        myGamePiece.speedY = -1;
        if (myGamePiece.x == target.x && myGamePiece.y == target.y) {
            setInterval(draw, 20);
            myGameArea.stop()
        } ;
      }
      if (myGameArea.key && myGameArea.key == 40) {
        console.log(myGamePiece.x, target.x)
        myGamePiece.speedY = 1;
        if (myGamePiece.x == target.x && myGamePiece.y == target.y) {
            setInterval(draw, 20);
            myGameArea.stop()
        } ;
      }
      myGamePiece.newPos();
      myGamePiece.update();
      target.update();
      // myBackground.newPos();
      // myBackground.update();
  }
  // Add starting particles
    for (var i = 0; i < 25; i++) {
      addParticle();
    }
    // Add a particle every tenth of a second
    setInterval(addParticle, 10);
    // Update the particles so they fall


    // Add a single particle
    function addParticle() {
      if (particles.length > 1000) {
        return false;
      }

      particles.push({
        x: Math.random() * W, //x-coordinate
        y: Math.random() * H, //y-coordinate
        r: Math.random() * 18 + 1, //radius
        d: Math.random() * particles.length, //density
        color: "rgba(" + Math.floor((Math.random() * 255)) + ", " + Math.floor((Math.random() * 255)) + ", " + Math.floor((Math.random() * 255)) + ", 0.8)",
        tilt: Math.floor(Math.random() * 5) - 5
      });
    }

    /* Draw the particles */
    function draw() {
      ctx.clearRect(0, 0, W, H);
      ctx.font = "50px Roboto sans-serif";
      ctx.textAlign = "center";
      ctx.fillText("Thank you for being amazing project leads!", 450, 300);
      for (var i = 0; i < particles.length; i++) {
        var p = particles[i];
        ctx.beginPath();
        ctx.lineWidth = p.r;
        ctx.fillStyle = p.color;
        ctx.moveTo(p.x, p.y);
        ctx.beginPath();
        ctx.moveTo(p.x, p.y);
        ctx.lineTo(p.x + 10, p.y);
        ctx.lineTo(p.x + 5, p.y + 10);
        ctx.fill();
      }
      update();
    }

    var angle = 0.02;

    function update() {
      angle += 0.01;
      for (var i = 0; i < particles.length; i++) {
        var p = particles[i];
        p.y += Math.cos(angle + p.d) + 1 + p.r / 2;
        p.x += Math.sin(angle) * 2;
        if (p.x > W + 5 || p.x < -5 || p.y > H) {
          if (i % 3 > 0) //66.67% of the flakes
          {
            particles[i] = {
              x: Math.random() * W,
              y: -10,
              r: p.r,
              d: p.d,
              color: p.color,
              tilt: p.tilt
            };
          }
        }
      }
    }





</script>
