<div class="col">
<div class="box">
  <form action = "/accept_selected">
    <input type="hidden" name="selected" value="<%= @selected %>">
    <input type="hidden" name="courseid" value="<%= @courseid %>">
    <button type="submit" class="btn btn-dark" clicked>Continue</button>
</div>
</div>

