<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Successfully created a new course:</p>
    <p>
        <%= @course.department.split("-").first + @course.course_number + "-" + @course.section_number%>
    </p>
    <p>
      You can view and manage requests for this course here: <%= @url %>
    </p>
    <p> ==============================</p>
    <p> This email was automatically sent by Mooncake</p>
  </body>
</html>