<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @body %> 
    </p>

    <p> ==============================</p>
    <p> This email was sent via Mooncake</p>
  </body>
</html>