<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Course: <%= @coursename %> </p>
    <p> You can view and manage requests for this course here: <%= @url %> </p>

    <p> ==============================</p>
    <p> This email was sent via Mooncake</p>
  </body>
</html>