<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2> Request Permission for CS201</h2>
  <form action="/data">

    <div class="form-group">
      <label for="name"> Full name: </label>
      <input type="text" class="form-control" id="name" name="name">
    </div>

    <script type="text/javascript">
      document.getElementById('name').value = "<%= @user.first_name %>" + " " + "<%= @user.last_name %>";
    </script>

    <div class="form-group">
      <label for="email"> Email: </label>
      <input type="email" class="form-control" id="email" placeholder="Ex: mp3@duke.edu" name="email">
    </div>

    <script type="text/javascript">
      document.getElementById('email').value = "<%= @user.email %>";
    </script>

    <div class="form-group">
      <label for="gradyear"> Graduation year: </label>
      <input type="text" class="form-control" id="gradyear" placeholder="Ex: Maple Adkisson" name="gradyear">
    </div>

    <script type="text/javascript">
      document.getElementById('gradyear').value = "<%= @user.grad_year %>";
    </script>

    <div class="form-group">
      <label for="major"> Please enter your majors/minors, seperated by a comma:</label>
      <input type="text" class="form-control" id="major" placeholder="Ex: CS, Math, Physics" name="major">
    </div>

    <div class="form-group">
      <label for="reasons"> Why do you want to take this course?</label>
      <input type="text" class="form-control" id="reasons"  name="reasons"> 
    </div>

    <div class="form-group">
      <label for="background"> What is your background in the subject?</label>
      <input type="text" class="form-control" id="background"  name="background"> 
    </div>


    <div class="form-group">
        <label for="prereq[]">Which courses have you taken</label> 
        <div>
          <input type="checkbox" name="prereq[]" id="CS101" value="CS101" id = "cb"/> CS101 
        </div>
        <div>
          <input type="checkbox" name="prereq[]" id ="MATH122" value="MATH122" id = "cb"/> MATH122
        </div>
        <div>
          <input type="checkbox" name="prereq[]" id= ="CS99" value="CS99" id = "cb"/> CS99 
        </div>
    </div>

    <script type="text/javascript">
      document.getElementById('cb').value = 'no';
    </script>

    <div class="checkbox">
      <label><input type="checkbox" name="remember"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>