<div class="container account">
  <div class="row">
    <div class="col">
      <h1 class="title">Frequently Asked Questions</h1>
    </div> 
  </div> 
  <div class="row">
    <div class="col faq">
      <div class="faq-box">
      <% if session[:current_user]["user_type"] == "student"%>
      <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
          <p>
            Q: Why mooncake?
            <span class="fa fa-chevron-right pull-right expand-icon"></span>
            <span class = "fa fa-chevron-down pull-right expand-icon"></span>
          </p>
        </a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <p>We provide a way to streamline the permission number granting process to make it easier for students and faculty to organize and keep track of permission numbers through a web application separate from DukeHub.</p>
        </div> 
      </div> 
       <div class="faq-box">
        <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
          <p>
            Q: How do students make requests?
            <span class="fa fa-chevron-right pull-right expand-icon"></span>
            <span class = "fa fa-chevron-down pull-right expand-icon"></span>
          </p>
        </a>
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <p>Click the "Request Permission Number" button on the home page and search for the course you would like a permission number from. If the course is crosslisted, please make sure to select the correct department you would like the permission number from.</p>
        </div> 
      </div> 
      <div class="faq-box">
        <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
          <p>
            Q: How will students receive permission numbers?
            <span class="fa fa-chevron-right pull-right expand-icon"></span>
            <span class = "fa fa-chevron-down pull-right expand-icon"></span>
          </p>
        </a>
        <div class="collapse multi-collapse" id="multiCollapseExample3">
          <p>Once the faculty accepts/denies the permission number request, an email will be sent out to the student notifying them of a status change. They can then view their status on their home page and if the request is accepted, the permission number will be displayed.</p>
        </div> 
      </div> 
      <div class="faq-box">
        <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
          <p>
            Q: Can students make multiple requests?
            <span class="fa fa-chevron-right pull-right expand-icon"></span>
            <span class = "fa fa-chevron-down pull-right expand-icon"></span>
          </p>
        </a>
        <div class="collapse multi-collapse" id="multiCollapseExample4">
          <p>Students may only submit one request per course. However, they can withdraw the request while it is still under review and submit another one.</p>
        </div> 
      </div> 
      <% else %>
        <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
          <p>
            Q: Why mooncake?
            <span class="fa fa-chevron-right pull-right expand-icon"></span>
            <span class = "fa fa-chevron-down pull-right expand-icon"></span>
          </p>
        </a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          <p>We provide a way to streamline the permission number granting process to make it easier for students and faculty to organize and keep track of permission numbers through a web application separate from DukeHub.</p>
        </div> 
      </div> 
      <div class="faq-box">
        <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
          <p>
            Q: How will I view all of the student requests?
            <span class="fa fa-chevron-right pull-right expand-icon"></span>
            <span class = "fa fa-chevron-down pull-right expand-icon"></span>
          </p>
        </a>
        <div class="collapse multi-collapse" id="multiCollapseExample2">
          <p>Click on the course you want to view requests for and then click the view requests button to go to a table which displays all of the requests made by students. The table displays all of the default questions and you can also search and sort columns. By clicking on the plus sign you can view a dropdown of all of the answers to the custom questions that you added when creating the form. You can also hide the columns by clicking on the slashed eye icon and unhide them all by clicking on the open eye icon on the first column.</p>
        </div> 
      </div> 
      <div class="faq-box">
        <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
          <p>
            Q: How can faculty members create courses with multiple sections?
            <span class="fa fa-chevron-right pull-right expand-icon"></span>
            <span class = "fa fa-chevron-down pull-right expand-icon"></span>
          </p>
        </a>
        <div class="collapse multi-collapse" id="multiCollapseExample3">
          <p>Each section can be made as a separate course, in order to allow faculty to sort requests separately.</p>
        </div> 
      </div> 
      <div class="faq-box">
        <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample4" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
          <p>
            Q: How will students receive permission numbers?
            <span class="fa fa-chevron-right pull-right expand-icon"></span>
            <span class = "fa fa-chevron-down pull-right expand-icon"></span>
          </p>
        </a>
        <div class="collapse multi-collapse" id="multiCollapseExample4">
          <p>Once the faculty accepts/denies the permission number request, an email will be sent out to the student notifying them of a status change. They can then view their status on their home page and if the request is accepted, the permission number will be displayed.</p>
        </div> 
      </div> 
      <div class="faq-box">
        <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample5" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
          <p>
          Q: If I need to make any changes, is there a way for me to leave and come back to edit a course?
          <span class="fa fa-chevron-right pull-right expand-icon"></span>
          <span class = "fa fa-chevron-down pull-right expand-icon"></span>
          </p>
        </a>
        <div class="collapse multi-collapse" id="multiCollapseExample5">
          <p>Yes. The course is not published until you hit the publish button, and can be edited until you publish it. You can return however many times you want. After publishing, the course information is locked, and the only way to change that is by deleting and recreating the course.</p>     
        </div> 
      </div> 
      <div class="faq-box">
        <a class="collapse-button" data-toggle="collapse" href="#multiCollapseExample6" role="button" aria-expanded="false" aria-controls="multiCollapseExample">
          <p>
            Q: How do I get an Excel file with permission numbers?
            <span class="fa fa-chevron-right pull-right expand-icon"></span>
            <span class = "fa fa-chevron-down pull-right expand-icon"></span>
          </p>
        </a>
        <div class="collapse multi-collapse" id="multiCollapseExample6">
          <p>On DukeHub, when generating permission numbers for your course, you should be able to download an Excel file with a list of permission numbers that would be scanned by our application. When creating a course, there is a short tutorial available to assist with this action. Make sure to generate as many permission numbers as there are students in course (i.e. if you have a course capacity of 30, generate 30 permission numbers).</p>
        </div> 
      </div> 
      <% end %>
    </div> 
  </div> 
</div> 
