@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700');


@font-face {
    font-family: Chalk;
    src: url("NeatChalk.ttf");
  }

body {
    background: #012169;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* box {
    position: relative;
    display: inline-block;  Make the width of box same as image 
} */

.background {
    width: 100%;
    height: 100%;
}

.box .text{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;        
    text-align: center;
    width: 70vmin; /* Set the width of the positioned div */
    line-height: normal;
}


h1 {
    font-family: Chalk;
    font-size: 350%;
    font-weight: bold;
    margin: 0;
    padding: 0;
    top: 33%

}

h1:hover {
    bottom: 10px;
    left:0;
    transform: perspective(1000px) scale(1.3);
    }
/* p:hover {
    color: darkblue;
    top: 50%
} */
h2 {
    font-family: Chalk;
    color: lightblue;
    font-size: 100%;
    top: 20%
}

p {
    font-family: Chalk;
    color: lightblue;
    font-size: 80%;
    top: 63%;
}

footer h2 {
    font-family: Chalk;
    color: rgb(214, 189, 255);
    width: 60vh;
    font-size: 70%;
    top: 80%;
}

footer a {
    text-decoration: none;
    color: lightcoral;
}

img {
    width: 100%;
    height: 100vh;
}


