@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #F3F2F1;
}

.box {
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em;
    width: 90%;
    background: #E2E6ED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}

.table_box {
    margin: 0 auto;
    margin-top: 1em;
    padding: 2em;
    width: 99%;
    background: #E2E6ED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    margin-left: 15px;
}

.request-box {
   padding-left: 10%;
   width: 93%;
   margin-top: 20px;
   background: #FFFFFF;
   border-radius: 20px;
   line-height: 61px;
   margin-left: 3.5%;
   margin-bottom: 30px;
}

.faq-box {
    padding-left: 10%;
    width: 93%;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 20px;
    line-height: 61px;
    margin-left: 3.5%;
    margin-bottom: 30px;
 }

 .akioi {
    width: 93%;
    margin-top: 20px;
    background: #FFFFFF;
    border-radius: 20px;
    line-height: 25px;
    margin-bottom: 30px;
 }

.remove-padding {
    padding-left: 0%;
}

/* #view-request > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #F3F2F1;
 } */

#view-request > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: white;
 }

.course-box{
    margin-bottom:30px;
    margin-top:20px;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
}

.create-question{
    padding-top: 10px;
}

.home {
    margin-bottom:50px;
    margin-top:20px;
}

.trash{
    height: 25px;
    margin-top: 17px;
    margin-right: 15px;
    float: right;
}

.circle{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    float: left;
    margin-left: -7%;
    margin-right: 7%;
    margin-top: 17px;
}

.persimmon{
    background: #E89923;
}

.red{
    background: #C84E00;
}

.green{
    background: #A1B70D;
}

.logo {
    height: 12vh
}

.expand-icon {
    margin-right: 5%;
    float: right;
}

.spacer{
  height: 20px;
}

a[aria-expanded=true] .fa-chevron-right {
    display: none;
}

a[aria-expanded=false] .fa-chevron-down {
    display: none;
}

#hide {
    height: 20px;
    width: 20px;
}

#unhide {
    height: 20px;
    width: 20px;
}

/* Desktop only */
@media only screen and (min-width: 1000px){
    .navbar {
        height: 12vh;
    }
}

/* Mobile only */
@media only screen and (max-width: 1000px){

}
