@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
body {
    background-color: #262626;
}

#logo {
    font-weight: 500;
    font-size: 24px;
    color: white;
}

.logo {
    height: 100px;
    filter: invert(51%) sepia(12%) saturate(1960%) hue-rotate(130deg) brightness(104%) contrast(87%);
}

.nav-tabs {
    color: white;
    font-size: 24px;
}

.underline {
    text-decoration: none;
}

.navbar-nav > a {
    margin-left: 50px;
    margin-right: 50px;
}

p {
    font-family: 'Roboto';
    color: white;
}

label {
    color: white;
}

.btn.btn-secondary {
  background-color: black; 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin:auto;
  height: 68px;
  width: 200px;
}

.btn.btn-secondary:hover {
  background-color: #4E4E4E; /* Green */
  color: white;
}

.btn.btn-light {
  background-color: white; /* Green */
  color: #33A09E;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  text-decoration: none;
  margin: .5em .5em .5em 0em;
  display: inline-block;
  font-size: 16px;
}

.btn.btn-light:hover {
  background-color: #d3d3d3; /* Green */
  color: #33A09E;
  text-decoration: none;
}

.btn.btn-outline-danger {
  border-color: red;
  color: red;
}
.btn.btn-outline-danger:hover {
  color: red;
}

.btn.btn-primary {
    background-color: #33A09E;
}

.btn.btn-primary:hover {
    background-color: #33A09Ede;
}

/* .box {
    margin: 0 auto;
    margin-top: 2em;
    padding: 2em;
    width: 70%;
} */

.table_box {
    margin: 0 auto;
    margin-top: 1em;
    padding: 2em;
    width: 99%;
    background: #262626;
    box-shadow: none;
}

.table_box #file {
    color: white;
}

.btn-file {
    position: relative;
    
}

.btn-file input[type=file] {
    
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: purple;
    cursor: inherit;
    display: block;
}




.table_box2 {
    margin: 0 auto;
    margin-top: 1em;
    padding: 2em;
    width: 99%;
}

.table_box2 form {
    padding-left: 18%;
}

.heading {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 28px;
    color: #33A09E;
    text-align: center;
    margin-bottom: 30px;
}

.hello {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #33A09E;
}

.title {
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #33A09E;
}

.subtitle {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: white;
}

.no_request {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    padding-top: 20px;
    color: #6D6D6D;
}

.account {
    margin-top: 40px;
}

.account > div {
    margin-bottom: 30px;
}

.account-title {
    font-weight: bold;
    color: #33A09E;
}

.account-table * td {
    padding-right: 30px;
}

.remove-padding {
    padding-left: 0%;
}

#view-request > tbody > tr:nth-child(even) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: white;
}

.create-question{
    padding-top: 10px;
}

.home {
    margin-bottom:50px;
    margin-top:20px;
}

.circle{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 7%;
}

.persimmon{
    background: #E89923;
}

.red{
    background: #C84E00;
}

.green{
    background: #A1B70D;
}

.expand-icon {
    margin-top: 5px;
    margin-right: 5%;
    float: right;
}

.spacer{
  height: 20px;
}

a[aria-expanded=true] .fa-chevron-right {
    display: none;
}

a[aria-expanded=false] .fa-chevron-down {
    display: none;
}

#hide {
    height: 20px;
    width: 20px;
}

#unhide {
    height: 20px;
    width: 20px;
}

.factut {
  width: 100%;
}

.greens {
    background-color: rgba(179, 225, 157, 0.44) !important;
}

.oranges {
    background-color: rgba(236, 167, 0, 0.2) !important;
}

.reds {
    background-color: rgba(255, 0, 0, 0.1) !important;
}

.header {
    display: flex;
}

.header h1 {
    flex-grow: 1;
}

.header {
    overflow: hidden;
}

.form-group.required .control-label:after {
    content:" *";
    color:red;
}


.allmailer {
    margin: 20px 10px 5px;
}

.help {
  width: 25px;
}

.exceltut {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bluebox {
    background: #33A09E;
    padding: 20px 20px 7px 20px;
    margin: 20px 20px 40px 0px;
    width: 100%
}
.bluebox:hover {
    background: #206867;
}

.bluebox p{
    color:#FFFFFF;
    padding: 2px 0px 0px 80px;
    font-family: 'Roboto', sans-serif;
}

.blue-info{
    font-weight: 300;
    padding: 5px 0px 0px 0px;
}

.faq-box {
    background: #33A09E;
    padding: 20px 20px 7px 20px;
    margin: 20px 20px;
}

.faq-box p{
    color:#FFFFFF;
    padding: 2px 20px 0px 20px;
    font-family: 'Roboto', sans-serif;
}

.graybtn {
    background-color: #6D6D6D;
    width: 220px;
    height: 66px;
}

.graybtn button {
    color: #FFFFFF;
}

.collapse-content {
    margin-left: 65px;
}

.btn {
    margin-right: 20px;
}

.containernew {
    margin: 40px 80px;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card, .btn, .form-control, .custom-file-label {
    border-radius: 5px;
}
.btn-outline-primary {
    border-color: #33A09E;
    color: #33A09E;
}

.btn-outline-primary:hover {
    border-color: #33A09E;
    color: #33A09E;
    background-color: #eeeeee;
}

.btn.btn-outline-dark {
    border-color: gray;
    color: gray;
}

.btn.btn-dark {
    border-color: white;
    background-color: black;
}

.dash-button {
    padding-top:20px;
}

.fac-space {
    margin: 0px 20px 20px 0px;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
      width: 700px; /* New width for default modal */
    }
    .modal-sm {
      width: 350px; /* New width for small modal */
    }
}

/* Desktop only */
@media only screen and (min-width: 1000px){
    .navbar {
        height: 14vh;
    }

    .modal-lg {
        width: 1000px; /* New width for large modal */
    }
}

@media only screen and (max-width: 768px){
    .btn.btn-secondary {
        height: 100%;
        width: 100%;
        padding: 20px;
    }
}

/* Mobile only */
@media only screen and (max-width: 1000px){
    #logo {
        font-size: 20px;
    }

    .nav-tabs {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
    }

    .bluebox {
        background: #33A09E;
        padding: 20px 20px 7px 20px;
        margin: 20px 0px 40px 0px;
    }

    .dash-button {
        padding-top: 30px;
        padding-bottom: 20px;
    }

    .bluebox p{
        padding: 2px 0px 0px 40px;
    }
}
.status {
    font-weight: 300;
}

.perm {
    float: right;
    font-style: italic;
    font-weight: 400;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: gray !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    color: gray !important;
}

.dataTables_wrapper label {
    color: gray;
}